@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-y: auto;
}

html {
  height: 100vh;
  /* width: 100vw; */
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* Verde Tailwind (green-500) */
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #e5e7eb; /* Cinza Tailwind (gray-200) */
}
